:root {
  --primary-color: #ee2b47;
  --secondary-color: hsl(222.2, 84%, 4.9%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--secondary-color);
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(245, 245, 245);
  height: 100vh;
}

.home-link {
  color: blue;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.home-link:hover {
  color: darkblue;
}

h1 {
  text-align: center;
  grid-area: title;
}

.centered-table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 50%;
}

.centered-table th,
.centered-table td {
  /* border: 1px solid #ddd; */
  padding: 8px;
  text-align: center;
  vertical-align: middle;
}

.centered-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: var(--primary-color);
}

.scrollable-div::-webkit-scrollbar {
  width: 10px;
}

.scrollable-div::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

.scrollable-div::-webkit-scrollbar-track {
  background: lightgrey;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

.btn {
  background-color: var(--primary-color);
  opacity: 0.6;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: opacity 0.3s;
}

.btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.btn:not(:disabled):hover {
  opacity: 1;
}

.form {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-color: var(--primary-color);
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-color: var(--primary-color);
  outline: none;
  box-shadow: none;
}

/* range input */
input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  background-color: var(--secondary-color);
  border: none;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: var(--secondary-color);
  border-radius: 1.3px;
  border: 0.2px solid var(--primary-color);
}

input[type='range']::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid var(--primary-color);
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: var(--primary-color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: var(--secondary-color);
}

/* checkbox input */
input[type='checkbox'] {
  appearance: none;
  background-color: #f2f2f2;
  border: 2px solid #cdd1da;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  height: 20px;
  width: 20px;
  transition: all 0.5s ease;
}

input[type='checkbox']:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

input[type='checkbox']:checked::after {
  content: '';
  display: block;
  position: absolute;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

/* background image tetris */
.background-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url('/assets/background.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.2;
  filter: blur(5px);
}

/* settings icons */
.icon {
  font-size: 24px;
  color: var(--primary-color);
}

/* real table css */
.styled-table {
  border-collapse: collapse;
  margin: 20px 0;
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.styled-table th {
  padding: 10px;
}

.styled-table td {
  padding: 10px;
}

.styled-table thead {
  background-color: #ee2b47;
  font-weight: bold;
}

/* Tetris game css */
.app {
  display: grid;
  grid-template-areas:
    '. title .'
    '. game controls';
  grid-template-columns: repeat(3, 1fr);
}

.controls {
  grid-area: controls;
}

.board {
  border: 2px solid black;
  user-select: none;
  margin: auto;
  grid-area: game;
}

.row {
  display: flex;
}

.cell {
  width: 30px;
  aspect-ratio: 1;
  border: 1px solid rgb(200, 200, 200);
}

.cell.Empty {
  background-color: rgba(0, 0, 0, 0);
}

.cell.I {
  background-color: rgb(80, 227, 230);
  border: 5px solid rgb(53, 143, 145);
}

.cell.J {
  background-color: rgb(36, 95, 223);
  border: 5px solid rgb(21, 57, 136);
}

.cell.L {
  background-color: rgb(223, 173, 36);
  border: 5px solid rgb(150, 116, 24);
}

.cell.O {
  background-color: rgb(223, 217, 36);
  border: 5px solid rgb(138, 134, 22);
}

.cell.S {
  background-color: rgb(48, 211, 56);
  border: 5px solid rgb(26, 117, 30);
}

.cell.T {
  background-color: rgb(132, 61, 198);
  border: 5px solid rgb(71, 33, 107);
}

.cell.Z {
  background-color: rgb(227, 78, 78);
  border: 5px solid rgb(126, 43, 43);
}
